body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .logout-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
}

.header .nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.header .nav ul li a {
  color: white;
  text-decoration: none;
}

.user-greeting {
  color: #f4f4f4;
  font-style: italic;
  font-weight: bold;
}

.hero-section {
  background: url('../homeimg3.jpg') no-repeat center center/cover;
  color: white;
  padding: 5rem 1rem;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.5rem;
}

.cta-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
}

.services-section,
.testimonials-section,
.contact-section {
  padding: 2rem 1rem;
}

.services-section h2,
.testimonials-section h2,
.contact-section h2 {
  color: #ff6347;
  font-size: 2rem;
}

.services-grid,
.testimonials-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.service-card,
.testimonial-card {
  background-color: linen;
  padding: 1rem;
  border-radius: 8px;
  width: 30%;
  border-color: #ff6347;
}

.service-card:hover {
  background-color: #ff6347;
  color: white;
  border-color: #ff6347;
  cursor: pointer;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #ff6347;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  margin-top: 0rem;
  text-align: center;
}

.success-message {
  color: #ff6347;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}